@font-face {
    font-family: Lato;
    src: url('../Fonts/lato-regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Lato;
    src: url('../Fonts/lato-light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: Lato;
    src: url('../Fonts/lato-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Fontbox;
    src: url('../Fonts/SVN-Fontbox_Boathouse_Filled.otf');
}